__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Tkinter temporary files
*.tcl

# PyInstaller builds (in case you package into EXE later)
dist/
build/
*.spec
